{% extends "layout.html" %}

{% block title %}
chai
{% endblock %}

<div></div>
{%   block content %}
<div class="flex flex-col items-center mt-16 bg-lime-100 h-[85vh]  ">
    <h1 class="text-4xl text-amber-600 mb-5" >ALL ABOUT ITEMS</h1>
 <div class="flex items-center flex-col bg-white p-8">
    <img class="h-96 w-96 rounded" src="{{chai.image.url}}" alt="">
<h3 class=" text-amber-600 text-3xl text-left">{{chai.name}} </h3>
<h2 class="pl-0 text-amber-600 text-left">Rs-{{chai.price}}/glass </h2>
<P class="text-black w-[70%] ">{{chai.description}} </P>
 </div>
</div>


{% endblock %}

